{% extends 'shop/base.html' %}
{% load static %}

{% block title %}فروشگاه{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/index.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    {% for product in product_obj %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ product.image }}" class="card-img-top" height="200">
                <div class="card-body">
                    <div class="card-title">
                        <a id="nm{{product.id}}" href="{{ product.id }}/">{{product.title}}</a>
                    </div>
                    <div id="price{{product.id}}" class="card-text">
                        {{product.price}} تومان
                    </div>

                    <div class="form-group">
                        <label for="quantity">تعداد:</label>
                        <input type="number" class="form-control" id="quantity{{product.id}}" value="1" min="1" style="width: 100px; display: inline-block;">
                    </div>

                    <a class="btn btn-warning" href="/{{product.id}}/">جزییات</a>
                    <button id="{{product.id}}" class="cartbutton btn btn-warning">افزودن به سبد خرید</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-3 offset-md-4">
        <ul class="pagination">
            {% if product_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ product_obj.previous_page_number }}">صفحه ی قبلی</a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ product_obj.number }}">{{ product_obj.number }}</a>
            </li>
            {% if product_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ product_obj.next_page_number }}">صفحه ی بعدی</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).on('click', '.cartbutton', function() {
        var item_id = this.id.toString();
        var quantity = parseInt(document.getElementById("quantity" + item_id).value);
        
        $.ajax({
            url: '/cart/add/' + item_id + '/',
            method: 'POST',
            data: {
                'quantity': quantity,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    alert(response.message);
                    updateCartCount(response.cart_items_count);
                } else {
                    alert('خطا در افزودن به سبد خرید');
                }
            },
            error: function() {
                alert('خطا در ارتباط با سرور');
            }
        });
    });
    
    function updateCartCount(count) {
        document.getElementById("cart").innerHTML = "سبد خرید (" + count + ")";
    }
</script>
{% endblock %}


